body {
    margin: 0;
    --app-bg: #36393F;
    --nav-bar: #202225;
    --font: #ffffff;
    --font-muted: rgba(255,255,255,0.7);
    color: var(--font);
    background-color: var(--app-bg);
    transition: background-color 200ms;
    font-family: 'Whitney Book', sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body.light {
    --app-bg: #FFFFFF;
    --nav-bar: #E3E5E8;
    --font: #2E3338;
    --font-muted: rgba(46,51,56,0.7);
}

body.revamped {
    --app-bg: #292841;
    --nav-bar: #1c1b29;
    --font: #ffffff;
    --font-muted: rgba(255,255,255,0.7);
}

@font-face {
    font-family: 'Whitney Book';
    src: url('/font.woff2') format('woff2'),
         url('/font.woff') format('woff'),
         url('/font.otf') format('otf');
}